.card {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px;
  height: 200px;
  width: 80%;
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 15px;
}
.cardImage {
  display: flex;
  width: 30%;
  margin: 10px;
  flex-direction: column;
  height: 170px;
}
.CardDetails {
  display: flex;
  width: 30%;
  margin: 10px;

  flex-direction: column;
  height: 170px;
}

.cardImage img {
  position: relative;

  height: 70%;
  width: 70%;
  margin: 10px;
  margin-left: 35px;
  border-radius: 50%;
}
.cardImage p {
  position: relative;
  height: 25px;
  width: auto;
  font-size: 25px;
  text-align: center;
  margin: 4px;
}
.CardDetails label {
  padding: 8px;
  font-family: Arial;
  margin: 10px;

  text-align: center;
}
